body {
  background-color: ivory; }

.page-header::before, .page-header::after {
  content: "";
  display: block;
  clear: both; }

#map {
  height: 70vh; }

select {
  width: 50%; }

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand, .navbar-fixed-top, .navbar-inverse .navbar-nav > li.active {
  background-color: steelblue;
  color: #333; }

.panel-default {
  text-align: center;
  padding-top: 15px;
  height: 80vh;
  width: 100%;
  background-color: #ECE8DF;
  margin: 0; }

.selectors {
  height: 10vh; }

.row .col-md-3 {
  padding-left: 5px;
  padding-right: 5px; }

.btn-day {
  background-color: #A7C6FB;
  border: 1px solid #ECE8DF; }

.btn .glyphicon {
  font-size: 1.8em;
  padding: 0; }

.btn.btn-sm {
  background-color: steelblue;
  color: black;
  padding: 4px;
  padding-bottom: 2.8px;
  border: 0; }

.form-control {
  display: inline-block;
  width: 80%;
  height: 32px; }

label.control-label {
  padding-top: 20px;
  display: block;
  margin-bottom: 0; }

.list-group-item .selected {
  text-align: left;
  height: 20px; }
  .list-group-item .selected > button {
    float: right; }
