body {
  color: #000000; }

.page-header::before, .page-header::after {
  content: "";
  display: block;
  clear: both; }

#map {
  height: 70vh; }

select {
  width: 100%;
  height: auto; }

.col-md-1 {
  border: 1px solid black; }

.col-md-2 {
  border: 1px solid black; }

.col-md-3 {
  border: 1px solid black; }

.col-md-4 {
  border: 1px solid black; }

.col-md-5 {
  border: 1px solid black; }

.col-md-6 {
  border: 1px solid black; }

.col-md-7 {
  border: 1px solid black; }

.col-md-8 {
  border: 1px solid black; }

.col-md-9 {
  border: 1px solid black; }

.col-md-10 {
  border: 1px solid black; }

.col-md-11 {
  border: 1px solid black; }

.col-md-12 {
  border: 1px solid black; }
